/COA/DerivedDataCache
/COA/Intermediate
/COA/Saved
/COA/COA.sln
/COA/.vs
/COA/Content/Characters/Mannequin_UE4
/COA/Content/Characters/Mannequins
/COA/Content/ThirdPerson/Maps/ThirdPersonMap_BuiltData.uasset
/Labwork2/.vsconfig
/Labwork2/Labwork2.sln
/Labwork2/.vs
/Labwork2/DerivedDataCache
/Labwork2/Intermediate
/Labwork2/Saved
/Labwork3/Intermediate
/Labwork3/Saved
/Labwork3/.vsconfig
/Labwork3/Labwork3.sln
/Labwork3/.vs
/Labwork3/DerivedDataCache
/Labwork4/Intermediate
/Labwork4/Saved
/Labwork4/.vsconfig
/Labwork4/Labwork3.sln
/Labwork4/.vs
/Labwork4/DerivedDataCache